
.header{
  background-color: #644bb993;
  width: 100%;
  padding: 8px;
  margin-bottom: 8em;
}

.header h1{
  text-align: center;
}

main{
  width: 70%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5em;
  margin-bottom: 40px;
}

h2{
  margin: 0;
  text-align: center;
  position: sticky;
  top: 0;
  background-color: rgb(136, 92, 255);
  border-radius: 5px;
}

.block{
  width: 300px;
  background-color: rgba(136, 92, 255, 0.048);
  padding: .6em;
  border-radius: 8px;
  height: 300px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #644bb9 #242525;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.room{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room p{
  letter-spacing: 1px;
  
}

.amount-av{
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.green-indicator-hour{
  color: rgb(64, 255, 47)
}

.red-indicator-hour{
  color: red;
}




/*-- Sign Styles --*/

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-family: "Vibur", cursive !important;
    letter-spacing: 2px;
    font-size: 3.6rem;
    text-align: center;
    line-height: 1;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
  }

}

/*-- Animation Keyframes --*/


@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(147, 30, 242, 0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(147, 30, 242, 0.58),
    0 0 22px rgba(150, 30, 242, 0.84),
    0 0 38px rgba(157, 30, 242, 0.88),
    0 0 60px rgb(161, 30, 242);
  }
}



.link {
	position: absolute;
	bottom: 10px; left: 10px;
	color: #828282;
	text-decoration: none;
	
	&:focus,
	&:hover {
    color: #c6e2ff;
		text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(147, 30, 242, 0.52),
    0 0 7px rgba(132, 30, 242, 0.92),
    0 0 11px rgba(129, 30, 242, 0.78),
    0 0 16px rgba(136, 30, 242, 0.92);
	}
}