@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  /* RADIAL GRADIENT BACKGROUND */
  background: radial-gradient(circle,
      #2C5364,
      #203A43, #0F2027);

  color: #f3f3f3;
  font-family: Sniglet;
  min-height: 100vh;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f2027ef;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C5364;
  border-radius: 5px;

}